PORT = 5000 

# Generated token change if required
JWT_SECRET=eyJhbGciOiJIUzI1NiJ9eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcwMjkyNjQ4NiwiaWF0IjoxNzAyOTI2NDg2fQLmJKyf959ReK9U2SkzY7NAFIwL1WGvkQMv3KCdhk0RA

# Generated token random as of now
SUPERUSER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

#Google login code creds
GOOGLE_CLIENT_ID=googlecilentid.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=googleclientsecret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/user/auth/google/callback

CLIENT_ID=com.aandp.aplandscaping

# Sendgrid creds
SENDER_EMAIL=your@gmail.com
SENDGRID_API_KEY=yourkey

# Add twilio creds
TWILIO_ACCOUNT_SID=random
TWILIO_AUTH_TOKEN=random
TWILIO_PHONE_NUMBER=+random

#add the json file path (directory structure should be preserved)
FIREBASE_ADMIN_SDK_PATH=.././ap-landscaping-firebase-adminsdk-random.json


GOOGLE_MAPS_API_KEY=

# Stripe creds 
STRIPE_SECRET_KEY="sk_test_51Ovrandom"
STRIPE_PUBLISHABLE_KEY="pk_test_random"
STRIPE_WEBHOOK_SECRET= whsec_bd3random
CLIENT_URL=